body {
    background-image: url(../images/techno\ honeycomb.jpg);
    background-size: 100%;
    max-width: 950px;
    margin: auto;
    border: ;
    padding: 50px;
}

main {
    display: grid;
    grid: auto auto auto auto;
    grid-gap: 10px;
    grid-row:  2 / 5;
    padding: 10px;
    background-color: whitesmoke;
    opacity: 0.9;
}

img {
    grid-row: 1 / 2;
    max-width: 150px;
    height: auto;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #BF0D19;
}

h1 {
    background-color: #BF0D19;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

h2, ul {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #BF0D19;
    padding: 10px;
    color: white;
    text-align: center;
}