@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 150px;
    }

    header p {
        font-size: 50px;
    }

    footer div {
        font-size: 30px;
    }

    .heroDiv {
        width: 800px;
    }

    #forecastDiv div {
        padding: 20px;
        margin: 20px;
    }

    .gallery:hover {
        box-shadow: 10px 12px 35px 10px #525252;
        transform: scale(1.2);
        width: 425px;
        height: 325px;
        transition: all .5s ease-in-out;
    }
    /*Home Page*/
    .homeGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
    .homeGrid img {
        width: 300px;
        height: 200px;
    }
    .homeGrid section:nth-child(2) { /*Preston*/
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .homeGrid section:nth-child(1) { /*Fish Haven*/
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    /*Community Board*/
    #corkBoard p {
        margin-right: 400px;
    }
}