body {
    background-image: url(../images/techno\ honeycomb.jpg);
    background-size: 100%;
    max-width: 950px;
    margin: auto;
    padding: 50px;
}

main {
    background-color: whitesmoke;
}
div {
    background-color: #BF0D19;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #021a40;
    margin-right: 40px;
}

h1 {
    
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 10px;
    font-size: 5vw;
    width: 100%;
}

h2, ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding-left: 50px;
}

footer {
    background-color: #BF0D19;
    padding: 10px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2D0774;
}

/*ClearFix*/
.clearFix::after {
    content: "";
    clear: both;
    display: table;
  }