body {
    background-image: url(../images/techno\ honeycomb.jpg);
    background-size: 100%;
    max-width: 950px;
    margin: auto;
    padding: 50px;
}

main {
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #021a40;
    margin-right: 40px;
}

h1 {
    background-color: #BF0D19;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 10px;
    font-size: 50px;
}

h2, ul {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

footer {
    background-color: #BF0D19;
    padding: 10px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #2D0774;
}