@media only screen and (min-width: 60em) {
    header h1 {
        font-size: 150px;
    }

    header p {
        font-size: 50px;
    }

    footer div {
        font-size: 30px;
    }

    .weatherSum {

    }
}