nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: ;
    font-size: ;
    padding: ;
}

nav li a:hover {
    color: ;
    background-color: ;
}